{% extends "network/layout.html" %}

{% block body %}
    <h1 id="profile-title">
        {{ post_user.username }}
        {{ user.is_following }}
        {% if user.is_authenticated %}
            {% if user.username != post_user.username %}
                {% if is_following %}
                    <button class="btn btn-primary follow-btn" data-username="{{ post_user.username }}">
                        Unfollow
                        <span class="follower-count">{{ follower_count }}</span>
                    </button>
                {% else %}
                    <button class="btn btn-outline-primary follow-btn" data-username="{{ post_user.username }}">
                        Follow
                        <span class="follower-count">{{ follower_count }}</span>
                    </button>
                {% endif %}
            {% else %}
                {% if follower_count > 1 %}
                    <span class="follower-count"> You have {{ follower_count }} followers</span>
                {% elif follower_count == 1 %}
                    <span class="follower-count"> You have {{ follower_count }} follower</span>
                {% else %}
                    <span class="follower-count"> You have {{ follower_count }} followers</span>
                {% endif %}
            {% endif %}
        {% else %}
            {% if follower_count > 1 %}
                <span class="follower-count"> has {{ follower_count }} followers</span>
            {% elif follower_count == 1 %}
                <span class="follower-count"> has {{ follower_count }} follower</span>
            {% else %}
                <span class="follower-count"> has {{ follower_count }} followers</span>
            {% endif %}
        {% endif %}
    </h1>
    <h2 id="profile-navbar">
        <a class="profile-links" href="{% url 'followers' post_user.username %}">Followers</a>
        <a class="profile-links" href="{% url 'followed' post_user.username %}">Followed</a>
        <a class="profile-links" href="{% url 'liked' post_user.username %}">Liked Posts</a>
        <hr>
    </h2>

    {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% else %}
                <span></span>
                <span></span>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% else %}
                <span></span>
                <span></span>
            {% endif %}
        </div>
    {% endif %}

    <div id="all-posts">
    {% for post in page_obj %}
        <div class="post">
            <h4 class="posted-content" id="post-content">{{ post.content }}</h4><br>
            <p id="post-timestamp">
                {% csrf_token %}
                Posted on: {{ post.timestamp }}
                {% if user.username == post.user.username %}
                    <button class="btn btn-outline-secondary edit-btn" data-post-id="{{post.id}}">Edit</button>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if post.id in liked_posts %}
                        <button class="btn btn-primary like-btn" data-post-id="{{ post.id }}">
                            Like <span class="like-count">{{ post.like_count }}</span>
                        </button>
                    {% else %}
                        <button class="btn btn-outline-primary like-btn" data-post-id="{{ post.id }}">
                            Like <span class="like-count">{{ post.like_count }}</span>
                        </button>
                    {% endif %}
                {% else %}
                    <span class="like-count">Likes: {{ post.like_count }}</span>
                {% endif %}
            </p>       
        </div> 
    {% endfor %}
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% else %}
                <span></span>
                <span></span>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% else %}
                <span></span>
                <span></span>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}